.card-title {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    font-family: 'Zilla Slab';
    font-weight: 700;
    padding: 24px 24px 10px 24px !important;
    font-size: 26px !important;
}

.card-category {
    margin-top: 10px;
}

.card-qualifier {
    padding-right: 5px;
    font-weight: 600;

}

.small-right-margin {
    margin-right: 5px !important;
}

.rate-chip {
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-chip i {
    padding-right: 2px;
}

#filter-label {
    color: white;
    padding-right: 10px;
    font-weight: 700;
}

.close-icon {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

#search-input:focus {
    background: transparent;
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
}